{% load static %}
<script src="{% static "visualization/lib/pixi.min.js" %}"></script>
<script src="{% static "visualization/JsonProtocol.js" %}"></script>
<script src="{% static "visualization/ParticleGeoMap.js" %}"></script>
<script src="{% static "visualization/Snake.js" %}"></script>
<script src="{% static "visualization/FoodSprite.js" %}"></script>
<script src="{% static "visualization/SimpleDirectionSnakeMoveStrategy.js" %}"></script>
<script src="{% static "visualization/ImpulseSnakeMoveStrategy.js" %}"></script>
<script src="{% static "visualization/TwoPredecessorSnakeMoveStrategy.js" %}"></script>
<script src="{% static "visualization/GameVisualization.js" %}"></script>
<script src="{% static "visualization/Game.js" %}"></script>
<script src="{% static "visualization/DynamicSegmentCountSnakeMoveStrategy.js" %}"></script>
<script>
    let assets = {
      'body.png': '{% static "visualization/assets/body.png" %}',
      'food.png': '{% static "visualization/assets/food.png" %}',
      'head.png': '{% static "visualization/assets/head.png" %}',
  };
  let strategy = new SimpleDirectionSnakeMoveStrategy();
  //let strategy = new ImpulseSnakeMoveStrategy();
  //let strategy = new TwoPredecessorSnakeMoveStrategy();
  //let strategy = new DynamicSegmentCountSnakeMoveStrategy();
</script>