{% extends 'core/base.html' %}
{% load static %}

{% block css %}
  <style>
    #stage { position:absolute; left:0; top:0; width:100%; height:100%; overflow:hidden; }
    #tvlogo { position:absolute; left:25px; top:25px; }
    body { background:black; }
  </style>
{% endblock %}

{% block header %}
{% endblock %}

{% block content %}
  <div id="stage"></div>
  <img id="tvlogo" src="{% static "visualization/assets/bytewerk_tv_150w.png" %}">
{% endblock %}

{% block footer %}
{% endblock %}

{%  block js %}
  {% include "visualization/js.html" %}

  <script>
    let game = new Game(assets, strategy, document.getElementById('stage'));
    window.onload = function()
    {
        game.Run();
    };
    window.onresize = function()
    {
        game.vis.Resize();
    };
  </script>
{% endblock %}