{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static "highscore/highscore.css" %}" />
{% endblock css %}

{% block subheader %}
    <ul class="sub nav">
      <li><a href="{% url 'highscore' %}">Max Score</a></li>
      <li><a href="{% url 'highscore_maxage' %}">Max Age</a></li>
      <li><a href="{% url 'highscore_consumerate' %}">Consume Rate</a></li>
    </ul>
{% endblock %}

{% block content %}

<div class="panel">
    {% if usr %}
        <h2>Your {{title}}</h2>
        <table class="highscore-table ui celled selectable inverted table" cellspacing="0" style="margin-bottom:5em">
            <tr>
                <td class="two wide">{{usr.position}}</td>
                <td class="nine wide">{{request.user.username}}</td>
                <td class="five wide right aligned">{{usr.score|floatformat:1}}</td>
            </tr>
        </tbody>
        </table>
    {% endif %}

    <h2>Best {{title}}s</h2>
    <table class="highscore-table ui celled selectable inverted table" cellspacing="0" style="margin-bottom:5em">
        <thead>
            <tr>
                <th class="two wide">Position</th>
                <th class="nine wide">User</th>
                <th class="five wide right aligned">Value</th>
            </tr>
        </thead>
        <tbody>
        {% for score in highscores %}
            <tr>
                <td>{{score.position}}</td>
                <td>{{score.user__username}}</td>
                <td class="right aligned">{{score.score|floatformat:1}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}

{% block js %}
{% if rotate %}
<script>
    setTimeout(function(){
        document.location.href = "{% url rotate %}?rotate=rotate";
    }, 3000);
</script>
{% endif %}
{% endblock %}
