{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
<style type="text/css" media="screen">
  #editor {
    position: relative;
    top: 0;
    left: 0;
    width:50em;
    height:20em;
    font-size:16px;
  }
</style>
{% endblock %}

{% block content %}

<h1>Edit Snake</h1>
<form id="snake_edit_form" method="post" class="ui inverted form">
  {% csrf_token %}
  <div class="field">
    {{ form.code.label_tag }}
    <textarea id="code" name="code">{{ snake.code }}</textarea>
    <div id="editor"></div>
  </div>
  
  <div class="field">{{ form.comment.label_tag }}{{ form.comment }}</div>

  <div class="ui buttons">
    <button class="ui positive button" type="submit">Save</button>
    <div class="or"></div>
    <a class="ui button" href="{% url 'snake' %}">Cancel</a>
  </div>
</form>


<script src="/static/core/ace/src-noconflict/ace.js" type="text/javascript" charset="utf-8"></script>
<script>
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/lua");
    editor.setShowPrintMargin(false);

    var textarea = $('#code').hide();
    editor.getSession().setValue(textarea.val());

    $("#snake_edit_form").submit( function(event) {
        textarea.val(editor.getSession().getValue());
    })
</script>
{% endblock %}