{% extends 'base.html' %}

{% load static %}
{% block content %}

  <h1>My Snakes</h1>
  
  {% if snakes|length == 0 %}
    <p>no snakes defined yet.</p>
    <p>
      <a href="{% url 'snake_create' %}" class="ui secondary button">Create your snake</a>
    </p>
  {% else %}
    <p>
      <a href="{% url 'snake_create' %}" class="ui secondary button">Start with a clean snake</a>
    </p>
    <table class="ui inverted table snake-list">
    <thead>
    <tr>
      <th>Snake Version</th>
      <th>Last Changed</th>
      <th>Comment</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    {% for snake in snakes %}
      <tr>
        <td>{{ snake.version }}&nbsp;
          <a href="{% url 'snake_edit' snake.id %}" class="tiny ui labeled icon button">
            <i class="icon external alternate"></i>Improve</a>&nbsp;
          <a href="{% url 'snake_delete' snake.id %}" class="tiny ui labeled icon button">
            <i class="icon trash alternate"></i>Delete</a>
        </td>
        <td>{{ snake.created|date:"d.m.Y H:i:s" }}</td>
        <td>{{ snake.comment }}</td>
        <td class="collapsing">
          <div class="ui fitted toggle checkbox">
            <input type="radio" name="activesnake" data-snake="{{ snake.id }}"
            {% if snake.active %}
              checked="checked"
            {% endif %}> <label></label>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% endif %}
  
{% endblock %}

{% block js %}

<script>
  $('.ui.checkbox').checkbox({
    onChecked: function() {
      let id = $(this).data('snake');

      $.ajax({
        url: "{% url 'snake_activate' 1 %}".replace('1', id),
        success: function(data) {
          $.growl.notice({ message: data.message });
        },
        error: function(data) {
          $.growl.error({ message: data.message });
        }
      });
    }
  });
</script>
{% endblock %}