{% extends 'base.html' %}

{% load static %}
{% block content %}

  <h1>My Snakes</h1>
  
  {% if snakes|length == 0 %}
    <p>no snakes defined yet.</p>
    <p>
      <a href="{% url 'snake_create' %}" class="ui secondary button">Create your snake</a>
    </p>
  {% else %}
    <p>
      <a href="{% url 'snake_create' %}" class="ui secondary button">Start with a clean snake</a>
    </p>
    <table class="ui inverted table snake-list">
    <thead>
    <tr>
      <th>Version</th>
      <th>Last Changed</th>
      <th>Comment</th>
      <th>Active</th>
    </tr>
    </thead>
    <tbody>
    {% for snake in snakes %}
      <tr>
        <td>{{ snake.version }}&nbsp;
          <a href="{% url 'snake_edit' snake.id %}" class="tiny ui labeled icon button">
            <i class="icon external alternate"></i>
          Improve it</a>&nbsp;
          <a href="{% url 'snake_delete' snake.id %}" class="tiny ui labeled icon button">
            <i class="icon trash alternate"></i>
          Delete it</a>
        </td>
        <td>{{ snake.created }}</td>
        <td>{{ snake.comment }}</td>
        <td>{{ snake.active }}</td>
      </tr>
    {% endfor %}
    </tbody>
    </table>
  {% endif %}

{% endblock %}