#snake {
    width:120px;
}

#ide {
    display:grid;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: 4fr 1fr;
    grid-template-areas:
        "editor preview"
        "log preview"
        "log tools";
    grid-column-gap: 5px;
    grid-row-gap: 5px;
}

#editor {
    grid-area: editor;
    font-size:18px;
    background-color: #00000080;
}

#preview {
    grid-area: preview;
    background-color: #000000A0;
    overflow:hidden;
}

#log {
    grid-area: log;
    background-color: #00000080;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 11pt;
    overflow: scroll;
}

#log div {
}

#log div div {
    display:inline-block;
    width:120px;
    text-align:right;
}

#log div pre {
    display:inline;
    padding-left:10px;
}

#tools
{
    grid-area: tools;
    background-color: #00000080;
}

#toolbar
{
}

button {
    background-color:#321700;
    border:2px solid #613600;
    margin:5px 5px;
    padding:3px 10px;
    font-size:14pt;
    color:white;
}

#editor .ace_gutter {
    background-color: #FFFFFF20;
}

#editor .ace_scroller {
    background-color: transparent;
}

#editor .ace_active-line {
    background: #FFFFFF10;
}

div.modal {
    display:none;
    position:fixed;
    left:0; top:0; width:100%;height:100%;
    background-color:rgba(0,0,0,0.5);
    z-index:1000;
}

div.modal>div {
    position: fixed;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%);
    background-color: #321700;
    border:2px solid #613600;
    font-size:14pt;
    color:white;
    width: 20em;
    height:10em;
}

div.modal>div>header {
    position:fixed;
    top:0; left:0; width:100%;
    background-color: #613600;
    text-align:center;
}

div.modal div.main {
    padding: 1.5em 0.5em 1.5em 0.5em;
}

div.modal>div>footer {
    position:fixed;
    bottom:0; left:0; width:100%;
    background-color: #613600;
    text-align:right;
}
