{% extends 'base.html' %}
{% load widget_tweaks %}
{% load static %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="{% static "ide/ide.css" %}" />
{% endblock %}

{% block content %}
<form id="snake_edit_form" method="post">
  {% csrf_token %}
  <textarea id="code" name="code">{{ snake.code }}</textarea>
</form>

<div id="ide" class="fullwindow">
  <div id="editor"></div>
  <div id="preview"></div>
  <div id="log"></div>
  <div id="tools">
    <div id="toolbar">
      <button id="bt_run">save & run</button>
      <button>restart</button>
      <button>save as</button>
      <button>load</button>
      <button>preferences</button>
    </div>
  </div>
</div>

{% endblock %}

{% block js %}
  <script type="text/javascript">
    let snake_id = {{ snake.id }};
    let viewer_key = "{{ profile.viewer_key }}";
    let csrftoken = $("[name=csrfmiddlewaretoken]").val();
  </script>
<script src="{% static "ide/ace/src-noconflict/ace.js" %}" type="text/javascript" charset="utf-8"></script>
<script src="{% static "ide/ide.js" %}" type="text/javascript" charset="utf-8"></script>
{% include "visualization/js.html" %}
{% endblock %}