.editor {
  width: 50em;
  min-height: 5em;
}

.docs_container {
    background-color: #000000A0;
    color: #fff;
    margin-left: 200px;
    min-width: 400px;
    padding: 14px;
    width: 80%;
}

.markdown-body pre.usage {
  padding: 0px;
  border: none;
}
