{% extends 'core/base.html' %}

{% block content %}
  <h2>Change Password</h2>
  <form method="post" id="change_password_form">
    {% csrf_token %}
    <div class="ui inverted segment">
      {% if messages %}
      <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      <div class="ui inverted mini form">
        {% for field in form %}
          <div class="fifteen wide field">
            {{ field.label_tag }}
            {{ field }}
            {% if field.help_text %}
              <small style="color: grey">{{ field.help_text|safe }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
        <button type="submit" class="ui small positive button">Change password</button>
      </div>
    </div>
  </form>
{% endblock %}