{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <h1>Schlangenprogrammiernacht 2018</h1>
  <p>
    Willkommen auf der Schlangenprogrammiernacht, dem Programmierspiel für die GPN18.
  </p>

  <p>
   Jeder kann mitmachen! Einfach einen Account erstellen und losprogrammieren!
  </p>

  <p>
    Erstelle dir deine eigene Schlange in Lua, fress dich voll und kollidiere nicht mit anderen. 
   </p>

  <p style="color:red; font-weight:bold; background-color:yellow;width:70%;border:5px solid red; border-radius:2em;padding:2em;">
    Achtung!<br>
    Leider mussten wir die API so ändern, dass der von uns gelieferte Beispielcode nicht mehr lauffähig ist.<br>
    Um über Ergebisse von findFood() und findSegments() zu iterieren, muss nun nicht mehr result:pairs() aufgerufen werden,
    sondern pairs(result).<br>
    We apologize for the inconvenience.
  </p>
 
{% endblock %}