{% extends 'core/base.html' %}
{% load static %}

{% block content %}

  <h1>Schlangenprogrammiernacht 2018</h1>
  <p>
    Welcome to the 'Schlangenprogrammiernacht', a game for <a href="https://entropia.de/GPN18">GPN18</a>.
  </p>

  <p>
    Everybody is invited to join! Simply create an account and start coding.
  </p>

  <p>
    Define your own snake in Lua, eat as much as you can and try not to die.
  </p>

  <p>Start with your own server and get the code <a href="https://git.bingo-ev.de/GPN18Programmierspiel">here</a>.</p>

  <p style="color:red; font-weight:bold; background-color:yellow;width:70%;border:5px solid red; border-radius:2em;padding:2em;">
    Warning!<br>
    We had to change the API last night, so the old sample code isn't running anymore.<br>
    The result types of findFood() and findSegments() were changed so instead of using result:pairs() you have to use pairs(result).<br>
    We apologize for the inconvenience.
  </p>
 
{% endblock %}