{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<div class="panel">
  <h2>Profile</h2>
  <h3>Password</h3>
  <form method="GET" action="{% url "change_password" %}">
    <button type="submit" class="ui small positive button">Change User Password</button>
  </form>
  <h3>API Keys</h3>
  <form method="GET" action="{% url "api_keys_list" %}">
    <button type="submit" class="ui small positive button">Manage API Keys</button>
  </form>
  <h3>Viewer Key</h3>
  Websocket Viewer Key: {{ profile.viewer_key }}
</div>
{% endblock %}
