{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Programmierspiel</title>
    <link rel="stylesheet" type="text/css" href="{% static "core/jquery.growl.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/checkbox.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/header.min.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "core/styles.css" %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static "highscore/highscore.css" %}" />
    <link rel="stylesheet" href="{% static "core/highlight.js/styles/agate.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/button.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/table.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/icon.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/form.min.css" %}" />
{% block css %}
{% endblock %}
  </head>
  <body>
    <div class="head">
      <h1>Schlangenprogrammiernacht</h1>
    </div>
    <ul class="nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'watch' %}">Watch</a></li>
      <li><a href="{% url 'highscore_table' %}">Highscores</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'snake' %}">My Snakes</a></li>
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
    </ul>

    <div class="content">
{% block content %}
{% endblock %}
    </div>

    <script src="{% static "core/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "core/highlight.js/highlight.pack.js" %}"></script>
    <script src="{% static "core/checkbox.min.js" %}"></script>
    <script src="{% static "core/jquery.growl.js" %}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    {% block js %}
    {% endblock %}
  </body>
</html>