{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
{% block title %}
    <title>Schlangenprogrammiernacht 2018</title>
{% endblock %}

{% block earlycss %}
{% endblock %}   
    <link rel="stylesheet" type="text/css" href="{% static "core/jquery.growl.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/checkbox.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/header.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/form.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/segment.min.css" %}" />

    <link rel="stylesheet" type="text/css" href="{% static "core/styles.css" %}" />
    
    <link rel="stylesheet" type="text/css" href="{% static "highscore/highscore.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/button.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/table.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "core/icon.min.css" %}" />
{% block css %}
{% endblock %}

  </head>
  <body>
    <ul class="nav">
      <li><a href="{% url 'home' %}">Home</a></li>
      <li><a href="{% url 'watch' %}">Watch</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'snake_edit_latest' %}">Code</a></li>
      {% endif %}
      <li><a href="{% url 'docs' %}">API</a></li>
      <li><a href="{% url 'highscore_table' %}">Highscores</a></li>
      {% if user.is_authenticated %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a href="{% url 'login' %}">Login</a></li>
        <li><a href="{% url 'signup' %}">Signup</a></li>
      {% endif %}
    </ul>

    <div class="content">
{% block content %}
{% endblock %}
    </div>

    <div class="footer">
      <img id="snake" src="{% static "core/snake200.png" %}">
      (c) 2018 <a href="https://www.bytewerk.org/">bytewerk.org</a>
    </div>

    <script src="{% static "core/jquery-3.3.1.min.js" %}"></script>
    <script src="{% static "core/checkbox.min.js" %}"></script>
    <script src="{% static "core/jquery.growl.js" %}"></script>
    {% block js %}
    {% endblock %}
  </body>
</html>