{% extends 'base.html' %}

{% load static %}
{% block content %}

<div style="position:absolute; width:50%">
  <div>
    Nunc suscipit interdum lacus. Nullam faucibus arcu tellus, non iaculis tortor posuere in. Integer eu cursus enim, nec pharetra odio. Curabitur non metus cursus, mollis mi ut, maximus arcu. Nulla bibendum a felis faucibus fringilla. Phasellus accumsan dui eu nunc elementum, vel volutpat nunc fringilla. Nunc varius, elit quis rhoncus porttitor, magna metus faucibus dolor, non vestibulum sapien nulla tristique enim. Vestibulum dui risus, tincidunt quis metus sit amet, tempor malesuada libero. In eleifend tempor orci quis fermentum. Sed vitae sodales arcu.
  </div>
  <div>
  Sed laoreet id risus at vulputate. In tempus posuere leo vulputate molestie. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Integer convallis risus a blandit varius. Donec volutpat et leo ac commodo. Fusce faucibus, lacus nec tristique fringilla, dolor velit vulputate ipsum, rutrum consectetur purus turpis eget leo. Etiam a dignissim justo, at euismod elit. Mauris eget cursus turpis. Donec nec imperdiet lacus. Pellentesque pretium sodales mollis.
  </div>
</div>

<div style="position:absolute;right:2em">
  <pre class="home"><code class="lua">function fact (n)
    if n == 0 then
      return 1
    else
      return n * fact(n-1)
    end
  end

  print("enter a number:")
  a = io.read("*number")        -- read a number
  print(fact(a))
  </code></pre>

  <img src="{% static "core/slither.png" %}">
</div>

{% endblock %}