{% extends 'core/base.html' %}

{% block content %}
  <h2>Login</h2>
  {% if form.errors %}
    <p style="color: red">Your username and password didn't match. Please try again.</p>
  {% endif %}
  <form method="post" id="login_form">
    <div class="ui inverted segment">
      <div class="ui inverted mini form">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        {% for field in form %}
          <div class="fifteen wide field">
            {{ field.label_tag }}
            {{ field }}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
            {% if field.help_text %}
              <p><small style="color: grey">{{ field.help_text }}</small></p>
            {% endif %}
          </div>
        {% endfor %}
        
        <div class="field">
          <div class="ui buttons">
            <button type="submit" class="ui small positive button">Log in</button>
            <div class="or"></div>
            <a href="{% url 'signup' %}" class="ui small button">No account yet? Sign up</a>
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}